
#navigation
{
    background-color: #F7F6F3;
    text-align:center;
   
}

#footer 
{
    padding: 15px;
    margin:0px 0px;
    width: inherit;
    text-align: center;
    background-color:#affcf5;

}
